LAB | Connecting Python to SQL

In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.metrics import classification_report, f1_score, cohen_kappa_score
import getpass  # To get the password without showing the input

In [2]:
password = getpass.getpass()

········

1.Establish a connection between Python and the Sakila database.

In [3]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)
engine.execute("USE sakila")
#result = engine.execute('SELECT * FROM rental')

2.Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. 
The function should take in three parameters:

engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
month: an integer representing the month for which rental data is to be retrieved.
year: an integer representing the year for which rental data is to be retrieved.
The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [46]:
# Step 2: Define a function to retrieve rental data for a given month and year
def rentals_month(engine, year, month):
    # Using SQL query to retrieve rental data for the specified year and month
    query = f'''
    SELECT *
    FROM rental
    WHERE YEAR(rental_date) = {year} AND MONTH(rental_date) = {month}
    '''

    # Execute the query and retrieve the results as a Pandas DataFrame
    rental_data = pd.read_sql(query, engine)

    return rental_data

# Example usage of the rentals_month function
year = 2005
month = 5
rental_data1 = rentals_month(engine, year, month)

# Print the first few rows of the rental data
rental_data1.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

3.Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

Hint: Consider making use of pandas groupby()

In [5]:
# Step 3: Define a function to calculate rental counts for a given month and year
def rental_count_month(rental_data1, month, year):
    # Convert 'rental_date' column to datetime type
    rental_data1['rental_date'] = pd.to_datetime(rental_data1['rental_date'])
    
    # Filter the DataFrame to include only rows matching the specified month and year
    filtered_df = rental_data1[
        (rental_data1['rental_date'].dt.year == year) &
        (rental_data1['rental_date'].dt.month == month)
    ]
    
    # Group the filtered DataFrame by 'customer_id' and count the rentals for each customer
    rental_counts = filtered_df.groupby('customer_id')['rental_id'].count().reset_index()
    
    # Rename the count column to match the format "rentals_MM_YYYY"
    column_name = f'rentals_{month:02}_{year}'
    rental_counts.rename(columns={'rental_id': column_name}, inplace=True)
    
    return rental_counts

In [47]:
rental_data2 = rental_count_month(rental_data1, month=5, year=2005)
rental_data2.head()

   customer_id  rentals_05_2005
0            1                2
1            2                1
2            3                2
3            5                3
4            6                3

3. Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column,
which is the difference between the number of rentals in the two months.

In [42]:

def compare_rentals(df1, df2, month1, year1, month2, year2):
    # Merge the two DataFrames based on a common column (e.g., customer_id)
    merged_df = pd.merge(df1, df2, on='customer_id', how='inner')
    
    # Calculate the difference between the number of rentals in the two months
    column1 = f'rentals_{month1:02}_{year1}'
    column2 = f'rentals_{month2:02}_{year2}'
    merged_df['difference'] = merged_df[column1] - merged_df[column2]
    
    # Drop the redundant columns
    #merged_df = merged_df.drop(columns=[column1, column2])
    
    return merged_df

In [45]:
#  Generate rental_data for the first month and year
year1 = 2005
month1 = 5
rental_data1 = rentals_month(engine, year1, month1)

#  Generate rental_data for the second month and year
year2 = 2005
month2 = 6
rental_data2 = rentals_month(engine, year2, month2)

# Calculate rental counts for the specified months and years
rental_count_data1 = rental_count_month(rental_data1, month1, year1)
rental_count_data2 = rental_count_month(rental_data2, month2, year2)

#Compare the rental counts using compare_rentals function
result_df = compare_rentals(rental_count_data1, rental_count_data2, month1, year1, month2, year2)

# Print the result
result_df.head()

   customer_id  rentals_05_2005  rentals_06_2005  difference
0            1                2                7          -5
1            2                1                1           0
2            3                2                4          -2
3            5                3                5          -2
4            6                3                4          -1